@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Index";
}

 


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Customer List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Customer" asp-action="Create" class="btn btn-primary">
               <i class="bi bi-plus-circle"></i> &nbsp; Create New Customer
            </a>
        </div>
    </div>
    <br /><br />

 

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th style="color:purple;font-size:125%">
                <b style="text-decoration-color:red">
                Name
                    </b>
            </th>
            <th>
                    <b>
                Address
                        </b>
            </th>
            <th>
                <b>
                Location
                    </b>
            </th>
            <th>
                    <b>
                Email
                    </b>
            </th>
            <th>
                    <b>
                Mobile
                    </b>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="20%">
                    @obj.Name
                </td>
                <td width="20%">
                    @obj.Address
                </td>
                    <td width="20%">
                        @obj.Location
                    </td>
                        <td width="20%">
                        @obj.Email
                    </td>
                        <td width="20%">
                        @obj.Mobile
                    </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Customer" asp-action="Edit" asp-route-id="@obj.Id"
                        class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                        <a asp-controller="Customer" asp-action="Delete" asp-route-id="@obj.Id"
                        class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

 

</table>
</div>