@model IEnumerable<BulkyBook.Models.Project>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local-Business-Assignment</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/templatemo-style.css">
    <link rel="Stylesheet" href="~/responsive web.css">
    <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css" />
    <!--

    Template

    https://templatemo.com/tm-556-catalog-z

    --></head>
  
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/vm.jpg" class="d-block w-100 h-50" alt="..." style="height:20%">
        </div>
       
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@*<div class="row pb-3">
    @foreach(var product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
                    <div class="card">
                        <img src="@product.ImageUrl" class="card-img-top rounded"/>

                        <div class="card-body">
                        <div class="pl-1">
                            <p class="card-title h5 text-primary">@product.Title</p>
                            <p class="card-title text-info">by <b>@product.Author</b></p>
                        </div>
                        <div class="pl-1">
                            <p>List Price: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
                        </div>
                        <div class="pl-1">
                            <p>As low as: <b>$@product.Price100.ToString("0.00")</b></p>
                        </div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@product.Id">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>*@
@*<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
        </div>

    </div>
    <br /><br />



    <table id="customers" style="width:100%">
        <thead>
            <tr>
                <th style="color:purple;font-size:125%">Customer</th>
                <th style="color:purple;font-size:125%">Name</th>
                <th style="color:purple;font-size:125%">Description</th>
                <th style="color:purple;font-size:125%">StartDate</th>
                <th style="color:purple;font-size:125%">EndDate</th>
                <th style="color:purple;font-size:125%">ProjectManager</th>
                <th style="color:purple;font-size:125%">Select</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="20%">
                        @obj.Customer.Name
                    </td>
                    <td width="20%">
                        @obj.Name
                    </td>
                    <td width="20%">
                        @obj.Description
                    </td>
                    <td width="20%">
                        @obj.StartDate
                    </td>
                    <td width="20%">
                        @obj.EndDate
                    </td>
                    <td width="20%">
                        @obj.ProjectManager.Name
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Customer" asp-action="Details" asp-route-id="@obj.PId"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Details</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>



    </table>
</div>*@